.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* フォーム部分、リスト部分共通のCSS */
body {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  font-size: 16px;
}

/*フォーム部分用のCSS*/
form {
  width: 100%;
  margin: 10% 0;
}

input[type="text"] {
  width: 250px;
  height: 30px;
  border-width: thin;
  border-radius: 0px;
  border-color: navy;
}

input[type="submit"] {
  height: 30px;
  margin-left: 3px;
  border: none;
  border-color: navy;
  text-align:center;
  color:#fff;
  background-color: navy;
}

/*リスト部分用のCSS*/
.list {
  align-items: center;
  list-style: none;
}

.list li {
  margin: 5px 0;
  display: flex;
  border: solid;
  border-width: 1px;
  border-color: navy;
}

.list li button{
  line-height: 50px;
  width: 50px;
  border-width: 1px;
  border-radius: 0px;
  border-color: navy;
  color:#fff;
  background-color: navy;
}

.list li p{
  padding-left: 20px;
}
